@font-face {
    font-family:"cream" ;
    src: url("../fuentes/cream-demo-webfont.eot eot");
    src: url("../fuentes/cream-demo-webfont.svg") format("svg"),
        url("../fuentes/cream-DEMO.ttf") format("truetype"),
        url("../fuentes/cream-demo-webfont.woff") format("woff");}*{
    margin: 0;  
} 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#contenedor {
    width: 1200px;
    margin: auto;
    position: relative;
}
nav {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 40px 0;
    width: 65%;


}
nav a {
    color: #1F67AF;
    text-decoration: none;
    padding: 10px 20px;
        transition: color 0.3s; 

   
   
}


    a:hover {
        color: #EF5C48; 
    }



.logo {
    display: inline-block;
    width: 300px;
     }
    .slogan img {
        width: 100%;
     }

section .bannerser img {
    width: 100%;

}
   

     .textconsulta {
        font-family: "Cream";
        font-size: 20px;
        padding-left: 380px;
        padding-bottom: 800px;
        background: url(../IMG/conge.jpg) no-repeat;
        background-position: 120px 0;


     }

     .botonagenda {
        font-family: "Cream";
        display: inline-block;
        margin-top: 60px;
        padding: 25px 20px;
        background-color: #EF5C48;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 20px;
        position: absolute;
        left: 460px;
        top:770px;
    }
    .textnutri {
        font-family: "Cream";
        font-size: 20px;
        padding-left: 490px;
        margin-top: -540px;       
   
    }
     
    .nutri {
        position: absolute;
        left: 900px;
        top: 1035px;


    }

    .botonagenda3 {
        font-family: "Cream";
        display: inline-block;
        margin-top: 60px;
        padding: 25px 20px;
        background-color: lightblue;
        color: #e97363;
        text-decoration: none;
        border-radius: 5px;
        font-size: 20px;
        position: absolute;
        left: 680px;
        top:1200px;
    }


    .textcardio {
        font-family: "Cream";
        font-size: 20px;
        padding-left: 400px;
        margin-top: 300px; 

    }

    .cardio {
        position: absolute;
        left: 110px;
        top: 1510px;

    }

    .botonagenda4 {
        font-family: "Cream";
        display: inline-block;
        margin-top: 535px;
        padding: 25px 20px;
        background-color: #EF5C48;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 20px;
        position: absolute;
        left: 400px;
        top:1200px;
    }

    .textbaño {
        font-family: "Cream";
        font-size: 20px;
        margin-top: 360px; 
        padding-left:450px;
        ;
        

    }
   

    .baño {
        position: absolute;
        left: 900px;
        top: 2030px;

    }


    .botonagenda5 {
        font-family: "Cream";
        display: inline-block;
        margin-top: 60px;
        padding: 25px 20px;
        background-color: lightblue;
        color: #e97363;
        text-decoration: none;
        border-radius: 5px;
        font-size: 20px;
        position: absolute;
        left: 680px;
        top:2200px;
    }
    

    .textesteri {
        font-family: "Cream";
        font-size: 20px;
        padding-left: 390px;
        margin-top: 240px; 

    }

    .esteri {
        position: absolute;
        left: 110px;
        top: 2440px;

    }

    .botonagenda6 {
        font-family: "Cream";
        display: inline-block;
        margin-top: 535px;
        padding: 25px 20px;
        background-color: #EF5C48;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 20px;
        position: absolute;
        left: 400px;
        top:2130px;
    }

    .textvacuna {
        font-family: "Cream";
        font-size: 20px;
        padding-left: 440px;
        margin-top: 360px; 

    }

    .vacuna {
        position: absolute;
        left: 900px;
        top: 2930px;

    }


    .botonagenda7{
        font-family: "Cream";
        display: inline-block;
        margin-top: 60px;
        padding: 25px 20px;
        background-color: lightblue;
        color: #e97363;
        text-decoration: none;
        border-radius: 5px;
        font-size: 20px;
        position: absolute;
        left: 680px;
        top:3100px;
    }
    
    .footer1 {
        background: url(../IMG/azuldefooter.jpg);
        top: 200px;
        height: 400PX;
        position: relative;
       

    }


    .footer {
        font-size: 18px;
        font-family: "arial";
        color: white;
       padding-left: 90px;
       padding-top: 90px;
    }

    .Copyright {
        font-size: 18px;
        font-family: "arial";
        color: white;
        padding-left: 350px;
        padding-top: 100px;
    }    

    .facebook {
        padding-left: 900px;

   
    }

    